# Load Libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.externals import joblib
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Load Custom Classes

In [2]:
from mlmodel.mlmodel import Models

In [3]:
# custom class objects

# feature objects

# mlmodel object
ml_ob = Models()

# Load Data

In [4]:
df = pd.read_csv('./data/plain_road_unsb/1.csv')
print(df.shape)
df.head()

(31984, 7)

,Timestamp,Gx,Gy,Gz,Ax,Ay,Az
0,2019-01-23 23:03:58,0.064957,0.283463,-0.16098,0.000000,0.000000,0.000000
1,2019-01-23 23:04:01,0.064957,0.283463,-0.16098,0.191620,3.867020,11.542938
2,2019-01-23 23:04:01,0.064957,0.283463,-0.16098,0.737183,3.733017,10.061783
3,2019-01-23 23:04:02,0.064957,0.283463,-0.16098,1.794815,3.675598,8.338943
4,2019-01-23 23:04:02,0.064957,0.283463,-0.16098,3.010376,3.265213,8.058990

# Features

In [5]:
# code to extract features

# Labels

In [6]:
# code to label the features
# this is temporary code random assignment of labels

np.random.seed(4)
labels = np.random.randint(-1,2,df.shape[0])
df['labels'] = labels

df.head()

,Timestamp,Gx,Gy,Gz,Ax,Ay,Az,labels
0,2019-01-23 23:03:58,0.064957,0.283463,-0.16098,0.000000,0.000000,0.000000,1
1,2019-01-23 23:04:01,0.064957,0.283463,-0.16098,0.191620,3.867020,11.542938,1
2,2019-01-23 23:04:01,0.064957,0.283463,-0.16098,0.737183,3.733017,10.061783,0
3,2019-01-23 23:04:02,0.064957,0.283463,-0.16098,1.794815,3.675598,8.338943,0
4,2019-01-23 23:04:02,0.064957,0.283463,-0.16098,3.010376,3.265213,8.058990,-1

In [7]:
X = df.iloc[:,1:-1]
y = df.iloc[:,-1]

# Split

In [8]:
trainX, testX, trainY, testY = train_test_split(X,y, test_size=0.2, shuffle=False)

In [9]:
trainX.shape, trainY.shape

((25587, 6), (25587,))

# Classifier

In [10]:
clf = ml_ob.randomForest(trainX,trainY,n_estimators=100)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    8.4s finished

# Predict

In [11]:
pred_y = clf.predict(testX)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.2s finished

# Cross Validation Metrics

In [12]:
accuracy_score(testY,pred_y)

0.32609035485383775