# Cusum filter

The CUSUM filter is a quality-control method, designed to `detect a shift` in
the mean value of a measured quantity away from a target value.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/plain_road_unsb/1.csv')

In [5]:
df['Timestamp'] = pd.to_datetime(df['Timestamp'])
df.head()

,Timestamp,Gx,Gy,Gz,Ax,Ay,Az
0,2019-01-23 23:03:58,0.064957,0.283463,-0.16098,0.000000,0.000000,0.000000
1,2019-01-23 23:04:01,0.064957,0.283463,-0.16098,0.191620,3.867020,11.542938
2,2019-01-23 23:04:01,0.064957,0.283463,-0.16098,0.737183,3.733017,10.061783
3,2019-01-23 23:04:02,0.064957,0.283463,-0.16098,1.794815,3.675598,8.338943
4,2019-01-23 23:04:02,0.064957,0.283463,-0.16098,3.010376,3.265213,8.058990

In [7]:
df.describe()

,Gx,Gy,Gz,Ax,Ay,Az
count,31984.000000,31984.000000,31984.000000,31984.000000,31984.000000,31984.000000
mean,0.001253,-0.001131,-0.006258,-0.051219,2.362548,9.403971
std,0.233571,0.124604,0.138764,0.988702,1.508488,2.125044
min,-2.765289,-1.170135,-2.431732,-16.961334,-12.925812,-21.229172
25%,-0.090393,-0.053238,-0.062576,-0.532211,1.291138,8.443039
50%,0.005630,-0.001068,-0.006195,-0.073990,2.156143,9.451614
75%,0.099583,0.052200,0.044083,0.466797,3.406403,10.360886
max,2.453659,1.332687,2.124908,14.944565,18.993240,56.544754

In [71]:
def get_events(self,df,thold):
    """
    Symmetric Cusum filter
    args:
        df: pandas dataframe
        thold: thold to sample point 
    returns:
        index of events marked
    """
    
    Events, sNeg, sPos = [], 0, 0
    diff = df['Az'].diff()
    # print(diff)
    # print(diff.index)
    print(diff[1])
    for i in diff.index[1:]:
        sNeg, sPos = max(0,sPos+diff[i]),min(0,sNeg+diff[i])
        
        if sNeg<-thold:
            sNeg = 0;tEvents.append(i)
        elif sPos>thold:
            sPos = 0;tEvents.append(i)
        
    print(Events)
    return pd.DatetimeIndex(Events)
    
# df_ = df.set_index('Timestamp')
# print(df_.index)
events = get_events(0,df,df['Az'].mean())

11.542938000000001
[]

In [59]:
vals = []
for i in events:
    t = df[df.index==i]
    vals.append(t['Az'])

vals

[]

In [11]:
from plotly import tools
from plotly.offline import download_plotlyjs,init_notebook_mode,iplot,plot
import plotly.graph_objs as go
init_notebook_mode(connected=True)

def plot_g_a(self,df):
    """
    Verify downsample
    args:
        df : pandas DataFrame with columns (Timestamp,Gx,Gy,Gz,Ax,Ay,Az)
    returns:
        iplot
    """
    t = df['Timestamp']
    
    az = go.Scatter(
        x= t,
        y= az,
        name='signal'
    )
    
    data = [az]
    go.Figure(data=data)
    
    
    return

(381,)