In [63]:
import pandas as pd
import numpy as np
import os
from loadData import LoadData

ld_ob = LoadData()

In [32]:
df= pd.read_csv("../data/plain_road_unmarked_sb/1.csv" )
print(df.shape)
df.head()

(46508, 7)

,Time,Gx,Gy,Gz,Ax,Ay,Az
0,2019-01-28 21:45:16:4516,-0.396973,0.077316,-0.144104,0.000000,0.000000,0.000000
1,2019-01-28 21:45:16:4516,-0.396973,0.077316,-0.144104,-0.147995,2.161942,8.830063
2,2019-01-28 21:45:16:4516,-0.396973,0.077316,-0.144104,-0.092957,2.117676,8.396957
3,2019-01-28 21:45:16:4516,-0.396973,0.077316,-0.144104,1.004166,1.696533,8.174423
4,2019-01-28 21:45:16:4516,-0.396973,0.077316,-0.144104,2.259201,1.240707,7.460175

In [27]:
a = np.arange(0.,df.shape[0],0.001)

a = a[0:df.shape[0]]

a.shape

In [29]:
df['Time']=a
df.head(10)

    Time        Gx        Gy        Gz        Ax        Ay        Az
0  0.000 -0.396973  0.077316 -0.144104  0.000000  0.000000  0.000000
1  0.001 -0.396973  0.077316 -0.144104 -0.147995  2.161942  8.830063
2  0.002 -0.396973  0.077316 -0.144104 -0.092957  2.117676  8.396957
3  0.003 -0.396973  0.077316 -0.144104  1.004166  1.696533  8.174423
4  0.004 -0.396973  0.077316 -0.144104  2.259201  1.240707  7.460175
5  0.005 -0.396973  0.077316 -0.144104  1.639465  1.239517  7.409927
6  0.006 -0.396973  0.077316 -0.144104  0.347336  1.678589  7.676727
7  0.007 -0.396973  0.077316 -0.144104  0.460983  1.968124  8.615906
8  0.008 -0.396973  0.077316 -0.144104  1.049622  1.858047  9.872131
9  0.009 -0.396973  0.077316 -0.144104  1.749527  1.763535  9.837448

In [42]:
os.chdir('../data/')
l = os.listdir()
os.chdir('../LoadData/')
print(l)

['plain_road_potholes', 'plain_road_unmarked_sb', 'plain_road_marked_sb', 'plain_road']

In [47]:
os.chdir('../../LoadData/')

In [ ]:
def loadData(self,folder_name='plain_road_potholes'):
    path = '../data/'+folder_name+'/'
    print(path)
    os.chdir(path)
    l_ = os.listdir()
    print(l_)
    df = pd.DataFrame(columns=['Time','Gx','Gy','Gz','Ax','Ay','Az'])
    for i in l_:
        temp = pd.read_csv(i)
        # print(temp)
        df = pd.concat([df,temp],axis=0)

    os.chdir('../../LoadData/')
    return df

loadData(0,'plain_road_unmarked_sb')

In [ ]:
ld_ob.loadData('plain_road_unmarked_sb')